{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'weightInGlod/style.css' %}" />


<!DOCTYPE html>
<html lang="en">


<head>
    <title>Weight In Glod</title>
</head>

<body>
    <header>
        <h2>Weight In Glod</h2>
    </header>

    
        <main>
                <article>
                   
                </article>
                
                
    <footer>
        <p>All work and images belong to Marc Bigler and anybody else, 2017.</p>
    </footer>
</body>

</html>