{% load static %}


<link rel="stylesheet" type="text/css" href="{% static 'blog/style.css' %}" />


    
<!DOCTYPE html>
<html lang="en">

<head>
    <title>ARCHIVE</title>
</head>

<body>
    <header>
        <h1>ARCHIVE</h1>
        <nav>
            <ul>
                <li class="btn"><a href="{% url 'blogs:home'%}">HOME</a></li>
                <li class="btn"><a href="{% url 'blogs:archive' %}">ARCHIVE</a></li>
            </ul>
        {% if full_blog_list %}
            <ul>
            {% for article in full_blog_list %}
                <li class="btn"><a href="{% url 'blogs:article' article.id %}">{{article.title}}</a></li>
            {% endfor %}
            </ul>
        {% else %}
        <p>No blogs are available.</p>
        {% endif %}
        </nav>
    </header>

    <div class="homeMain">
        <main>
            {% if object_list %}
            <div class="blog">
                {% for article in object_list %}
                <article>
                    <h2>{{article.title}}</h2>
                    <p>{{article.content|truncatewords:200 }}</p>
                </article>
                
                <aside>
                    {{article.choice_text}}
                </aside>
                {% endfor %}
            </div>
             {% endif %}
        </main>
    </div>

    <footer>
        <p>All work and images belong to Marc Bigler, 2017.</p>
    </footer>
</body>

</html>