{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'Blog/style.css' %}" />


<!DOCTYPE html>
<html lang="en">

<head>
    <title>cheat sheet</title>
    <link rel="stylesheet" href="./style.css">
</head>

<body>
    <header>
        <h1>CHEAT SHEET</h1>
        <nav>
            <ul>
                <li class="btn"><a href="CheatSheet.html">Tech Files</a></li>
                <li class="btn"><a href="blogCentral.html">Home</a></li>
            </ul>
            <ul>
                <li class="btn"><a href="blog1.html">Mack Pro</a></li>
                <li class="btn"><a href="blog2.html">Hats</a></li>
                <li class="btn"><a href="blog3.html">Tater Tot</a></li>
            </ul>
        </nav>
    </header>

    <div class="cheatTab">

        <main>
            <div class="cheat">
                <article class="git">
                    <header>
                        <h2>GIT CHEET SHEET</h2>
                    </header>
                    <table>
                        <tr>
                            <th>NAME</th>
                            <th>DESCRIPTION</th>
                            <th>EXAMPLE</th>
                        </tr>
                        <tr>
                            <td>init</td>
                            <td>Initiate git repository</td>
                            <td class="code"><code>git init</code></td>
                        </tr>
                        <tr>
                            <td>add</td>
                            <td>Adds information to local directory</td>
                            <td class="code"><code>git add . 'filename'</code></td>
                        </tr>
                        <tr>
                            <td>status</td>
                            <td>Check on local repository status</td>
                            <td class="code"><code>git status</code></td>
                        </tr>
                        <tr>
                            <td>commit</td>
                            <td>Commit to local changes made</td>
                            <td class="code"><code>git commit -m 'message'</code></td>
                        </tr>
                        <tr>
                            <td>push</td>
                            <td>Push files to the cloud</td>
                            <td class="code"><code>git push</code></td>
                        </tr>

                        <tr>
                            <td>remote</td>
                            <td>See where you are pushing code</td>
                            <td class="code"><code>git remote -v</code></td>
                        </tr>
                        <tr>
                            <td>password(helper)</td>
                            <td>Remember your password</td>
                            <td class="code"><code>git config credential.helper store</code></td>
                        </tr>
                        <tr>
                            <td>Show differences</td>
                            <td>Display's the commits</td>
                            <td class="code"><code>git show</code></td>
                        </tr>
                        <tr>
                            <td>pull master origin</td>
                            <td>Pulls master origin from cloud</td>
                            <td class="code"><code>git pull master origin</code></td>
                        </tr>
                        <tr>
                            <td>tags</td>
                            <td>add or remove tags cloud 9</td>
                            <td class="code"><code>git tag HW "hex" / git tag -d HW</code></td>
                        </tr>
                        <tr>
                            <td>tags</td>
                            <td>add or remove tags bitbucket</td>
                            <td class="code"><code>git push --tags  / git push origin :HW</code></td>
                        </tr>

                    </table>
                    <p>GIT STEP</p>
                    <p>git pull / git add . / git commit -m " " / git remote add change 'bitbucket' / git remote set-url change 'bitbucket'</p>
                </article>

                <article class="html">
                    <header>
                        <h2>HTML</h2>
                    </header>
                    <table>
                        <tr>
                            <th>NAME</th>
                            <th>DESCRIPTION</th>
                            <th>EXAMPLE</th>
                        </tr>
                        <tr>
                            <td>!DOCTYPE html</td>
                            <td>Define html dicoment</td>
                            <td class="code"><code>!DOCTYPE html</code></td>
                        </tr>
                        <tr>
                            <td>Include CSS Flie</td>
                            <td>Let's you provide style sheet</td>
                            <td class="code"><code>'link rel="stylesheet" type="text/css" href="./style.css"'</code></td>
                        </tr>
                        <tr>
                            <td>Wrapper Nav</td>
                            <td>Tag for Nav Bar</td>
                            <td class="code"><code>nav</code></td>
                        </tr>
                        <tr>
                            <td>Wrapper aside</td>
                            <td>Tag for placing item off of article</td>
                            <td class="code"><code>aside</code></td>
                        </tr>
                        <tr>
                            <td>div</td>
                            <td>Common container for modfications</td>
                            <td class="code"><code>div</code></td>
                        </tr>

                        <tr>
                            <td>Wrapper footer</td>
                            <td>Tag for page footer</td>
                            <td class="code"><code>footer</code></td>
                        </tr>
                        <tr>
                            <td>Class</td>
                            <td>Declare class to modify container</td>
                            <td class="code"><code>class='text' / .text{}</code></td>
                        </tr>
                        <tr>
                            <td>ID</td>
                            <td>Declare ID to modify container</td>
                            <td class="code"><code>class='text' / #text{}</code></td>
                        </tr>
                        <tr>
                            <td>Specify container</td>
                            <td>Use to modify items contained by container</td>
                            <td class="code"><code>article p , article img {}</code></td>
                        </tr>

                    </table>
                </article>

                <article class="css">
                    <header>
                        <h2>CSS</h2>
                    </header>
                    <table>
                        <tr>
                            <th>NAME</th>
                            <th>DESCRIPTION</th>
                            <th>EXAMPLE</th>
                        </tr>
                        <tr>
                            <td>Transparent text</td>
                            <td>Allows you to see background through block</td>
                            <td class="code"><code>background-color: rgba(196, 199, 206, .6)</code></td>
                        </tr>
                        <tr>
                            <td>Overflow</td>
                            <td>Control the overflow of flexbox or block</td>
                            <td class="code"><code>overflow: scroll;</code></td>
                        </tr>
                        <tr>
                            <td>class</td>
                            <td>access the class member </td>
                            <td class="code"><code>.class</code></td>
                        </tr>
                        <tr>
                            <td>flexbox background</td>
                            <td>fixed / scroll / local</td>
                            <td class="code"><code>background-attachment: fixed</code></td>
                        </tr>
                         <tr>
                            <td>class</td>
                            <td>access the class member </td>
                            <td class="code"><code>.class</code></td>
                        </tr>
                        <tr>
                            <td>Overflow</td>
                            <td>Control the overflow of flexbox or block</td>
                            <td class="code"><code>overflow: scroll;</code></td>
                        </tr>
                    </table>
                </article>
            </div>
        </main>
    </div>

    <footer>
        <p>All work and images belong to Marc Bigler, 2017.</p>
    </footer>
</body>

</html>