{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'Blog/style.css' %}" />


<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" type="text/css" href="./style.css">
    <title>BLOGCENTRAL</title>
</head>

<body>
    <header>
        <h1>Home DIR</h1>
        <nav>
            <ul>
                <li class="btn"><a href="CheatSheet.html">Tech Files</a></li>
                <li class="btn"><a href="blogCentral.html">Home</a></li>
            </ul>
            <ul>
                <li class="btn"><a href="blog1.html">Mack Pro</a></li>
                <li class="btn"><a href="blog2.html">Hats</a></li>
                <li class="btn"><a href="blog3.html">Tater Tot</a></li>
            </ul>
        </nav>
    </header>

    <div class="homeMain">
        <main>
            <div class="blog">
                <article>
                    <h2>Mack Pro</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse massa orci, scelerisque non nisi quis, bibendum tincidunt justo. Mauris id sollicitudin ipsum, a lobortis eros. Pellentesque ullamcorper neque libero, non varius
                        diam vehicula in. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse vitae felis ligula. Curabitur ac nulla vitae leo ornare auctor a nec turpis. Fusce semper pellentesque velit, non molestie ante pretium cursus.
                        Vivamus quam nibh, placerat sit amet est eu, tincidunt bibendum lacus.</p>
                </article>
                <aside>
                    <img src="Mack-Car.jpg" alt="Picture of kid in car">
                </aside>

                <article>
                    <h2>Hats</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse massa orci, scelerisque non nisi quis, bibendum tincidunt justo. Mauris id sollicitudin ipsum, a lobortis eros. Pellentesque ullamcorper neque libero, non varius
                        diam vehicula in. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse vitae felis ligula. Curabitur ac nulla vitae leo ornare auctor a nec turpis. Fusce semper pellentesque velit, non molestie ante pretium cursus.
                        Vivamus quam nibh, placerat sit amet est eu, tincidunt bibendum lacus.</p>
                </article>
                <aside>
                    <img src="Hats-Fly.jpg" alt="Picture of kid flying">
                </aside>

                <article>
                    <h2>Tater Tot</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse massa orci, scelerisque non nisi quis, bibendum tincidunt justo. Mauris id sollicitudin ipsum, a lobortis eros. Pellentesque ullamcorper neque libero, non varius
                        diam vehicula in. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse vitae felis ligula. Curabitur ac nulla vitae leo ornare auctor a nec turpis. Fusce semper pellentesque velit, non molestie ante pretium cursus.
                        Vivamus quam nibh, placerat sit amet est eu, tincidunt bibendum lacus.</p>
                </article>
                <aside>
                    <img src="Tate-Ice.jpg" alt="Picture of kid eating icecream">
                </aside>
            </div>
        </main>
    </div>

    <footer>
        <p>All work and images belong to Marc Bigler, 2017.</p>
    </footer>
</body>

</html>