{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'blog/style.css' %}" />


<!DOCTYPE html>
<html lang="en">

<head>
    <title>HOME</title>
</head>

<body>
    <header>
        <h1>HOME</h1>
        <nav>
            <ul>
                <li class="btn"><a href="{% url 'blogs:home'%}">HOME</a></li>
                <li class="btn"><a href="{% url 'blogs:archive'%}">ARCHIVE</a></li>
            </ul>
        {% if latest_blog_list %}
            <ul>
            {% for article in latest_blog_list %}
                <li class="btn"><a href="{% url 'blogs:article' article.id %}">{{article.title}}</a></li>
            {% endfor %}
            </ul>
        {% else %}
        <p>No blogs are available.</p>
        {% endif %}
        </nav>
    </header>

    <div class="homeMain">
        <main>
            {% if latest_blog_list %}
            <div class="blog">
                {% for article in latest_blog_list %}
                <li class="btn"><a href="{% url 'blogs:article' article.id %}">{{article.title}}</a></li>
                <article>
                    <h2>{{article.title}}</h2>
                    <p>{{article.content|truncatewords:200 }}</p>
                </article>
                <aside>
                    <P>TOTAL # OF COMMENTS {{article.blog}} </P>
                </aside>
                {% endfor %}
            </div>
            {% endif %}
        </main>
    </div>

    <footer>
        <p>All work and images belong to Marc Bigler, 2017.</p>
    </footer>
</body>

</html>